html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.control {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px;
}
